.modal-overlay, .modal-overlay {
    opacity: 0;
}
.vmodal.open .modal-overlay,
.vmodal.open .modal_window {
    opacity: 1;
    z-index: 5;
}
.main-avatar {
    background-image:url("foto/Ryu3.jpg");
    height: 100%;
    background-position:center;
    background-repeat:no-repeat;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.5);
/*    z-index: 5;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_window {
    width: 600px;
    border-radius: 5px;
    background: wheat;
    height: 200px;
}
.modal-close {
    float: right;
    font-size: 35px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
}